.imagenescontent{
    margin-left: 20px;
}

.basicdivbread{
    background-color: white;
    
    
}

.div.row{
    background-color: white;
}

.iconoayuda1{
    margin-left: 20px;
    padding-right: 10px;
    font-size: 40px;
}