.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border-bottom: 1px solid #dee2e6;
}

.table th {
  text-align: left;
}

.table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table img {
  width: 45px;
  height: 45px;
}

.table .badge {
  font-size: 0.75rem;
}

.table .fw-bold {
  font-weight: 700;
}

.table .fw-normal {
  font-weight: 400;
}

.table .text-muted {
  color: #6c757d;
}
.counter {
  margin-left: 200px;
  background-color: #2951a0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.counter button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.counter button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.counter span {
  color: #fff;
  font-size: 1rem;
  margin: 0 0.5rem;
}

.contcar {
  background-image: url("./../../assets/img/ferreteriaproductos.jpg");
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.293);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.toolbarcarro {
  background-color: #f8ba35 !important;
}

.pagination-controlsdetalle {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.maincart {
  border-radius: 5px;
}

.tablacarro {
  th {
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}

.trashBtn:hover {
  cursor: pointer;
}

.tablita{
  margin-left: 0px;
}

.tablitacarrito{
  margin-left: 60px;
}