.imagencarousel{
    width: 400px;
    height: 550px;
    margin-left: 175px;
}

.imagencarousel2{
    width: 350px;
    height: 500px;
    margin-left: 200px;
}
.imagencarousel3{
    width: 400px;
    height: 500px;
    margin-left: 175px;
}