.imagencarousel{
    width: 400px;
    height: 550px;
    margin-left: 220px;
}

.imagencarousel2{
    width: 350px;
    height: 500px;
    margin-left: 250px;
}
.imagencarousel3{
    width: 400px;
    height: 500px;
    margin-left: 230px;
}