#bannerDiv {
    background-color: rgb(65, 131, 255);
}

#bannerDiv .navbar {
    height: 5rem;
}

#bannerDiv .navbar-nav {
    margin: 0 auto;
    align-items: center;
}

#bannerDiv .banner {
    width: 100%;
    height: 30rem;
}

.nav-link.nalink {
    margin-right: 15%;
    width: fit-content;
    height: fit-content;
    padding: 0;
    transition: transform 0.3s ease;
    color: white;
    text-align: center;
}

.banner {
    width: 155%;
}

#bannerDiv .nav-link.nalink:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: white;
}

.tabsbanner {
    
}