footer {
    margin-top: 5vw;
}

footer div {
    width: 100%;
    height: 15vw;
    
}

.linksfooter{
    text-align: end;
    display: block ruby;
}

.list-groupfooter{
    margin-top: 20px;
    margin-right: 20px;
    list-style-type: none;
}
.logofooter{
    width: fit-content;
}

.linksf{
    text-align: left;
    padding: 10px;
}

.iconfooter{
    margin-right: 5px;
}